<% provide(:title, 'Home') %>
<h1>Home</h1>
<h2>Who Won What, When, Where and How?</h2>
<div class="">
Make no mistake, this App. is for Competitive People.<br />
Create a Scoreboard so you and your friends can keep track of the real Score.
</div>
<div id="loginButtons">
<%= link_to "Sign up now!", signup_path, class: "signup_button round" %>
<%= link_to "Sign In", signup_path, class: "signin_button round" %>
<%= link_to "Facebook Login", signup_path, class: "facebook_button round" %>
</div>